GridBackground
{
	--grid-background-color: var(--cs-colors-gird-light-grey-1);
	--line-color: var(--cs-colors-gird-light-grey-2);
	--thick-line-color: var(--cs-colors-gird-light-grey-3);
	--spacing: var(--cs-metrics-grid-25);
}